/target
/target-*
/node_modules
/examples/gauge-ui-e2e/end2end/node_modules
/examples/gauge-ui-e2e/site/pkg
/gauge-uf-app-e2e/end2end/node_modules
/gauge-uf-app-e2e/end2end/test-results
/gauge-uf-app-e2e/end2end/playwright-report
/gauge-uf-app-e2e/site/pkg
